b,
u,
i {
    color: var(--text) !important;
}

u,
u.nightMode {
    text-decoration: underline !important;
}

i,
i.nightMode {
    font-style: italic !important;
}

b.nightMode,
u.nightMode,
i.nightMode {
    color: var(--nm-text) !important;
}